.main-menu {
    background-image: url("floresta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    padding: 40px;
}

.main-menu button {
    transition: ease-in 0.5s;
}

.main-menu button:hover {
    box-shadow: 10px 20px #fff;
}


.frame-lorem {
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sec-title {
    margin-top: 20px;
}

.card {
    height: 100%;
    display: flex;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
}

.card .text-container {
    width: 100%;
    display: flex;
    min-height: 500px;
    flex-direction: column;
    justify-content: space-evenly;
}

.card .text1 {
    font-weight: bold;
}

.card .text1 h1 {
    font-size: 28px;
}


.card .image-container {
    margin: 20px;
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease-in-out;
}

.card .image-container:hover::after {
    background: rgba(0, 0, 0, 0.2);
}

.card .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}


.card p {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.more-container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 30px;
}

.more-container h1 {
    font-size: 28px;
    margin-bottom: 50px;
}

.more-container .more {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}


.more-container .more .image-container {
    position: relative;
    width: 300px;
}

.more-container .more .image-container img {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
}

.more-container .more .image-container .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 20px;
}

.frame-button {
    padding: 20px;
}

footer {
    padding: 20px;
}

footer form {
    margin: 40px;
}


@media screen and (max-width:600px) {
    .card {
        text-align: center;
        flex-direction: column;
    }

    .card p {
        display: none;
    }

    .card .image-container img {
        width: 300px;
    }
}